[Desktop Entry]
Type=Application
Exec=pepapps
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Applet PepApps
Comment=GNOME Applet Apps manager
Icon=/usr/local/PepAppsManager/icons/pepapps.svg
Terminal=false
X-KeepTerminal=false