[Desktop Entry]
Type=Application
Exec=peplinks
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Applet Link
Comment=GNOME Applet Link
Icon=/usr/local/PepAppsLinks/icons/icons_security.svg
Terminal=false
X-KeepTerminal=false